body{
    background-color: #8D8D8D;
}

.absolute-center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;

}

#drum-machine-content {
    background-color: green;
}