body{
    background-color: #8D8D8D;
}

.absolute-center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;

}

#drum-machine-content {
    width: 70%;
    background-color: #B3B3B3;
    border-style: solid;
    border-color: #FFA500;
    border-width: 3px;
}
.drum-machine-row {
    display: flex;
    justify-content: center;
}

.drum-machine-button {
    padding: 1em;
    background-color: #808080;
}